#   EditorConfig is awesome:
#   http://EditorConfig.org

# top-most EditorConfig file
root = true


# Coffee & JS config
[*.{coffee,js}]
indent_style = space
indent_size = 2


# Standard expected settings for these files
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2


# Use tabs (no width specified)
[Makefile]
indent_style = tab
